body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41);
    margin-top: 3rem;
}

canvas{
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    border: 1px 1px solid gray;
}