body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41);
}

p{
    color: rgb(155, 155, 155);
    font-family: "Tiny5", cursive, sans-serif;
    margin-top: 0;
}

.controls-container{
    display: flex;
    gap: 3rem;
}

canvas{
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    border: 1px 1px solid gray;
}